<!DOCTYPE html>
<html lang="en">

<head th:replace="pages/layout :: head"></head>

<body>

	<div id="wrapper">

		<div id="page-wrapper" style="margin: 0px;">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">
						<span>Ariadna Bot Service</span>
					</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<div id="test_chat" th:attr="ariadna-url=${ariadnaurl},locale=${locale}">
			<!-- /.panel .chat-panel -->
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- jQuery -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

	<!-- Morris Charts JavaScript -->
	<script th:src="@{/vendor/raphael/raphael.min.js}"></script>
	<script th:src="@{/vendor/morrisjs/morris.min.js}"></script>
	<script th:src="@{/data/morris-data.js}"></script>

	<!-- Custom Theme JavaScript -->
	<script th:src="@{/dist/js/sb-admin-2.js}"></script>

	<!-- Ariadna Bot Service JS Plugin -->
	<script th:src="@{/ariadna_bot_service/ariadna_bot_interface.js}"></script>
	<script th:src="@{/ariadna_bot_service/speechfunctions.js}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#test_chat").ariadna_bot_interface({url:$("#test_chat").attr("ariadna-url"),locale: $("#test_chat").attr("locale"),production:true});
		});
	</script>

</body>

</html>
