<!DOCTYPE html>
<html lang="en">

<head th:replace="pages/layout :: head"></head>

<body>

	<div id="wrapper">

		<div id="page-wrapper" style="margin: 0px;">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">
						<span>Ariadna Bot Service</span>
					</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<div class="chat-panel panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-comments fa-fw"></i> Chat
					<div class="btn-group pull-right">
						<button type="button"
							class="btn btn-default btn-xs dropdown-toggle"
							data-toggle="dropdown">
							<i class="fa fa-chevron-down"></i>
						</button>
						<ul class="dropdown-menu slidedown">
							<li>
								<a href="#"> <i class="fa fa-refresh fa-fw"></i>
										Refresh
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div id="test_chat" th:attr="ariadna-url=${ariadnaurl}">
			</div>
			<!-- /.panel .chat-panel -->
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- jQuery -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

	<!-- Morris Charts JavaScript -->
	<script th:src="@{/vendor/raphael/raphael.min.js}"></script>
	<script th:src="@{/vendor/morrisjs/morris.min.js}"></script>
	<script th:src="@{/data/morris-data.js}"></script>

	<!-- Custom Theme JavaScript -->
	<script th:src="@{/dist/js/sb-admin-2.js}"></script>

	<!-- Ariadna Bot Service JS Plugin -->
	<script th:src="@{/ariadna_bot_service/ariadna_bot_interface.js}"></script>
	<script th:src="@{/ariadna_bot_service/speechfunctions.js}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#test_chat").ariadna_bot_interface({url:$("#test_chat").attr("ariadna-url"),production:true});
		});
	</script>

</body>

</html>
