<!DOCTYPE html>
<html lang="en">

<head th:replace="pages/layout :: head"></head>

<body>

	<div id="wrapper">

		<nav th:replace="pages/layout :: nav"></nav>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">
						<span th:text="#{editintent} + ': ' + ${intent.id}"></span>
					</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>

			<div class="row" th:if="${trainingphraseremoved}">
				<div class="col-lg-12">
					<div class="alert alert-success">
						<span th:text="#{trainingphraseremoved}"></span>
					</div>
				</div>
			</div>

			<div class="row" th:if="${promptssaved}">
				<div class="col-lg-12">
					<div class="alert alert-success">
						<span th:text="#{promptssaved}"></span>
					</div>
				</div>
			</div>

			<div class="row" th:if="${parameteredited}">
				<div class="col-lg-12">
					<div class="alert alert-success">
						<span th:text="#{parameteredited}"></span>
					</div>
				</div>
			</div>

			<div class="row" th:if="${parameteradded}">
				<div class="col-lg-12">
					<div class="alert alert-success">
						<span th:text="#{parameteradded}"></span>
					</div>
				</div>
			</div>

			<div class="row" th:if="${trainingphraseedited}">
				<div class="col-lg-12">
					<div class="alert alert-success">
						<span th:text="#{trainingphraseedited}"></span>
					</div>
				</div>
			</div>

			<div class="row" th:if="${trainingphraseadded}">
				<div class="col-lg-12">
					<div class="alert alert-success">
						<span th:text="#{trainingphraseadded}"></span>
					</div>
				</div>
			</div>

			<div class="row" th:if="${parameterremoved}">
				<div class="col-lg-12">
					<div class="alert alert-success">
						<span th:text="#{parameterremoved}"></span>
					</div>
				</div>
			</div>

			<div class="row" th:if="${newintentcreated}">
				<div class="col-lg-12">
					<div class="alert alert-success">
						<span th:text="#{newintentcreated}"></span>
					</div>
				</div>
			</div>

			<div class="row" th:if="${intentedited}">
				<div class="col-lg-12">
					<div class="alert alert-success">
						<span th:text="#{intentedited}"></span>
					</div>
				</div>
			</div>

			<div class="row" th:if="${scriptedited}">
				<div class="col-lg-12">
					<div class="alert alert-success">
						<span th:text="#{scriptedited}"></span>
					</div>
				</div>
			</div>

			<div class="row" th:each="validationerror : ${validationerrors}">
				<div class="col-lg-12">
					<div class="alert alert-danger">
						<span th:text="${validationerror}"></span>
					</div>
				</div>
				<br />
			</div>

			<!-- /.row -->
			<a name="languages" id="languages"></a>
			<div class="ancla-separator"></div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span th:text="#{languages}"></span>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<form role="form"
										th:action="@{'/intents/' + ${intent.id} + '/edit?lang=' + ${locale}}"
										th:object="${intent}" method="post">
										<div class="form-group"
											th:class="${#fields.hasErrors('languages')} ? has-error">
											<div class="checkbox-inline" th:each="lang : ${availableLanguages}" >
											    <input type="checkbox" data-toggle="toggle" th:field="*{languages}" th:value="${lang}">
											    <span th:text="${lang}" ></span>
											</div>
											<p class="help-block"
												th:if="${#fields.hasErrors('languages')}"
												th:text="#{errorlanguages}"></p>
										</div>
										<br />
										<button type="submit" class="btn btn-default"
											th:text="#{save}"></button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a name="training" id="training"></a>
			<div class="ancla-separator"></div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span th:text="#{training}"></span>
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<!-- Nav tabs -->
							<ul class="nav nav-pills">
								<!-- <li class="active"><a href="#home-pills" data-toggle="tab">Home</a>
                                </li>-->
								<li th:each="language,iter : ${intent.languages}" th:class="${iter.index == 0} ? active" ><a
									th:href="@{'#'+${language}}" data-toggle="tab"><span
										th:text="${language}"></span></a></li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane" th:id="${language}"
									th:each="language,iter : ${intent.languages}"  
									th:classappend="${iter.index == 0} ? active">
									<br />
									<form role="form"
										th:action="@{'/intents/' + ${intent.id} + '/addtrainingphrase?lang=' + ${locale}}"
										th:object="${trainingphrase}" method="post">
										<div class="row">
											<div class="form-group col-lg-12">
												<input class="form-control" th:field="*{phrase}" th:placeholder="#{typenewintentphrase}" >
												<input type="hidden" name="language" th:value="${language}">
												<input type="hidden" name="id" th:value="${intent.id}">
											</div>
										</div>
									</form>
							
									<table width="100%" th:if="${#lists.size(trainingPhrases.get(language))} > 0"
										class="table table-striped table-bordered table-hover training-phrases-table"
										id="dataTables-example">
										<thead>
											<tr>
												<th style="width: 15%;" th:text="#{actions}"></th>
												<th th:text="#{description}"></th>
											</tr>
										</thead>
										<tbody>
											<tr class="odd gradeX"
												th:each="phrase : ${trainingPhrases.get(language)}">
												<td>
													<form role="form"
														th:action="@{'/intents/' + ${intent.id} + '/removetrainingphrase?lang=' + ${locale}}"
														th:object="${trainingphrase}" method="post">
														<input type="hidden" name="phrase" th:value="${phrase}">
														<input type="hidden" name="language"
															th:value="${language}"> <input type="hidden"
															name="id" th:value="${intent.id}">
														<button type="submit" class="btn btn-danger btn-circle">
															<i class="fa fa-trash-o"></i>
														</button>
													</form>
												</td>
												<td>
													<form role="form"
														th:action="@{'/intents/' + ${intent.id} + '/edittrainingphrase?lang=' + ${locale}}"
														th:object="${trainingphrase}" method="post">
														<input class="form-control no-border-input" name="phrase" th:value="${phrase}" >
														<input type="hidden" name="oldPhrase" th:value="${phrase}" />
														<input type="hidden" name="language" th:value="${language}"> 
														<input type="hidden" name="id" th:value="${intent.id}">
													</form>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
			</div>
			<a name="parameters" id="parameters"></a>
			<div class="ancla-separator"></div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span th:text="#{parameters}"></span>
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<!-- Tab panes -->
							<br />
							<form role="form"
								th:action="@{'/intents/' + ${intent.id} + '/addparameter?lang=' + ${locale}}"
								th:object="${parameter}" method="post">
								<input type="hidden" name="id" th:value="${intent.id}" />
								
								<p class="help-block" th:text="#{newparameterinfo}" ></p>
								<div class="row">
									<div class="form-group col-lg-3">
										<input class="form-control" th:field="*{name}" th:placeholder="#{name}" />
									</div>
									<div class="form-group col-lg-2">
										<div class="checkbox-inline" >
											<input type="checkbox" data-toggle="toggle" th:field="*{required}" >
											<span th:text="#{required}" ></span>
										</div>
									</div>
									<div class="form-group col-lg-4">
										<select class="form-control" th:field="*{type}" >
                                        	<option th:text="#{integer}" th:value="#{integer}" ></option>
                                            <option th:text="#{string}" th:value="#{string}"></option>
                                    	</select>
									</div>
									<div class="form-group col-lg-2">
										<div class="checkbox-inline" >
											<input type="checkbox" data-toggle="toggle" th:field="*{list}" >
											<span th:text="#{list}" ></span>
										</div>
									</div>
									<div class="col-lg-1">
										<button type="submit" class="btn btn-primary btn-circle" 
											data-toggle="modal" >
											<i class="fa fa-plus"></i>
										</button>
									</div>
								</div>
							</form>
							<br/>
							<table width="100%"
								class="table table-striped table-bordered table-hover training-phrases-table"
								id="dataTables-example" th:if="${#lists.size(parameters)} > 0" >
								<thead>
									<tr>
										<th style="width: 15%;" th:text="#{actions}"></th>
										<th th:text="#{info}"></th>
									</tr>
								</thead>
								<tbody>
									<tr class="odd gradeX"
										th:each="parameter : ${parameters}">
										<td>
											<form role="form"
												th:action="@{'/intents/' + ${intent.id} + '/removeparameter?lang=' + ${locale}}"
												th:object="${parameter}" method="post">
												<input type="hidden" name="id" th:value="${intent.id}" />
												<input type="hidden" name="name" th:value="${parameter.name}" />
												<button type="submit" class="btn btn-danger btn-circle">
													<i class="fa fa-trash-o"></i>
												</button>
												<button type="button" class="btn btn-primary btn-circle" 
													data-toggle="modal" th:attr="data-target='#prompts'+${parameter.name}"  >
													<i class="fa fa-file-text-o"></i>
												</button>
											</form>
										</td>
										<!-- Modal -->
			                            <div class="modal fade" th:id="'prompts'+${parameter.name}" tabindex="-1" role="dialog" aria-hidden="true">
			                                <div class="modal-dialog">
			                                    <div class="modal-content">
			                                        <div class="modal-header">
			                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			                                            <h4 class="modal-title" th:text="#{prompts}" ></h4>
			                                        </div>
			                                        <div class="modal-body">
			                                            <ul class="nav nav-pills">
															<li th:each="language,iter : ${intent.languages}" 
																th:classappend="${iter.index == 0} ? active"><a
																th:href="@{'#prompts_'+${parameter.name}+${language}}" data-toggle="tab"><span
																	th:text="${language}"></span></a></li>
														</ul>
														<div class="tab-content">
															<div class="tab-pane" th:id="'prompts_'+${parameter.name} + ${language}"
																th:each="language,iter : ${intent.languages}"
																th:classappend="${iter.index == 0} ? active">
																<br />
																<form role="form" method="post"
																	th:action="@{'/intents/' + ${intent.id} + '/saveparameterprompt?lang=' + ${locale}}" >
																	<input type="hidden" name="id" th:value="${intent.id}" />
																	<input type="hidden" name="language" th:value="${language}" />
																	<input type="hidden" name="parametername" th:value="${parameter.name}" />
																	
																	<div class="form-group">
										                            	<p class="help-block" th:text="#{promptparameterinf}"></p>
										                                <input class="form-control" name="promptparameter"
										                                	th:value="${prompts.get(language).get(intent.id + '_' + parameter.name)}" >
										                            </div>
										                            
										                            <div class="form-group">
										                            	<p class="help-block" th:text="#{promptbadvalueinf}"></p>
										                                <input class="form-control" name="promptbadvalue"
										                                	th:value="${prompts.get(language).get(intent.id + '_' + parameter.name + '_bad_value')}" >
										                            </div>
										                            
										                            <div class="form-group">
										                            	<p class="help-block" th:text="#{promptinvalidinf}"></p>
										                                <input class="form-control" name="promptinvalid"
										                                	th:value="${prompts.get(language).get(intent.id + '_' + parameter.name + '_invalid')}" >
										                            </div>
										                            
										                            <br/>
										                            <button type="submit" class="btn btn-default" th:text="#{save}"></button>
										                    	</form>
										                    </div>
										            	</div>
			                                        </div>
			                                        <div class="modal-footer">
			                                            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="close" ></button>
			                                        </div>
			                                    </div>
			                                    <!-- /.modal-content -->
			                                </div>
			                                <!-- /.modal-dialog -->
			                            </div>
			                            <!-- /.modal -->
										<td>
											<form role="form"
												th:action="@{'/intents/' + ${intent.id} + '/editparameter?lang=' + ${locale}}"
												th:object="${parameter}" method="post">
												<input type="hidden" name="id" th:value="${intent.id}" />
												<input type="hidden" name="name" th:value="${parameter.name}" />												
												<div class="form-group col-lg-3">
													<input class="form-control no-border-input" th:placeholder="#{name}" 
													 th:value="${parameter.name}" readonly=true />
												</div>
												<div class="form-group col-lg-3">
													<div class="checkbox-inline" >
														<input type="checkbox" data-toggle="toggle" 
														 name="required" th:checked="${parameter.required}" >
														 <span th:text="#{required}" ></span>
													</div>
												</div>
												<div class="form-group col-lg-2">
													<select class="form-control" name="type" >
			                                        	<option th:text="#{integer}" th:selected="(${parameter.type} == #{integer})"  th:value="#{integer}" ></option>
			                                            <option th:text="#{string}" th:selected="(${parameter.type} == #{string})" th:value="#{string}"></option>
			                                    	</select>
												</div>
												<div class="form-group col-lg-3">
													<div class="checkbox-inline" >
														<input type="checkbox" data-toggle="toggle" 
														name="list" th:checked="${parameter.list}" >
														<span th:text="#{list}" ></span>
													</div>
												</div>
												<div class="form-group col-lg-1">
													<button type="submit" class="btn btn-primary btn-circle pull-right" >
														<i class="fa fa-save"></i>
													</button>
												</div>
											</form>	
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
			</div>
			<a name="prompts" id="prompts"></a>
			<div class="ancla-separator"></div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span th:text="#{prompts}"></span>
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<ul class="nav nav-pills">
								<li th:each="language,iter : ${intent.languages}" 
								th:classappend="${iter.index == 0} ? active" ><a
									th:href="@{'#prompts_'+${language}}" data-toggle="tab"><span
										th:text="${language}"></span></a></li>
							</ul>
							<div class="tab-content">								
								<div class="tab-pane" th:id="'prompts_' + ${language}"
									th:each="language, iter : ${intent.languages}" 
									th:classappend="${iter.index == 0} ? active" >
									<br />
									<form role="form" method="post"
										th:action="@{'/intents/' + ${intent.id} + '/saveprompt?lang=' + ${locale}}" >
										<input type="hidden" name="id" th:value="${intent.id}" />
										<input type="hidden" name="language" th:value="${language}" />
										
										<div class="form-group">
			                            	<p class="help-block" th:text="#{promterrorinf}"></p>
			                                <input class="form-control" name="prompterror"
			                                	th:value="${prompts.get(language).get(intent.id + '_error')}" >
			                            </div>
			                            <div class="form-group">
											<p class="help-block" th:text="#{promptnewconversationerrorinf}"></p>
			                                <input class="form-control" name="promptnewconversationerror"
			                                	th:value="${prompts.get(language).get(intent.id + '_new_conversation_error')}" >
			                            </div>
			                            <div class="form-group">
			                            	<p class="help-block" th:text="#{promptendconversationerrorinf}"></p>
			                                <input class="form-control" name="promptendconversationerror" 
			                                	 th:value="${prompts.get(language).get(intent.id + '_end_conversation_error')}" >
			                            </div>
			                            <div class="form-group">
			                            	<p class="help-block" th:text="#{promptendconversationinf}"></p>
			                                <input class="form-control" name="promptfinalmessage" 
			                                	th:value="${prompts.get(language).get(intent.id + '_final_message')}" >
			                            </div>
			                            <div class="form-group">
			                            	<p class="help-block" th:text="#{promptcancelinf}"></p>
			                                <input class="form-control" name="promptcancel" 
			                                	 th:value="${prompts.get(language).get(intent.id + '_cancel')}" >
			                            </div>
			                            <br/>
			                            <button type="submit" class="btn btn-default" th:text="#{save}"></button>
			                    	</form>
			                    </div>
			            	</div>
						</div>
					</div>
				</div>
			</div>
			<a name="script" id="script"></a>
			<div class="ancla-separator"></div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading" th:text="#{scriptcode}"></div>
						<div class="panel-body">
							<form role="form"
								th:action="@{'/intents/' + ${intent.id} + '/savescript?lang=' + ${locale}}"
								th:object="${scriptform}" method="post">
								<input type="hidden" name="id" th:value="${intent.id}" />
								<textarea id="code" name="code" th:text="${script}"></textarea>
								<br />
								<button type="submit" class="btn btn-default" th:text="#{save}"></button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /#page-wrapper -->

		</div>
		<!-- /#wrapper -->

		<!-- jQuery -->
		<script th:src="@{/vendor/jquery/jquery.min.js}"></script>

		<!-- Bootstrap Core JavaScript -->
		<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

		<!-- Metis Menu Plugin JavaScript -->
		<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

		<!-- Custom Theme JavaScript -->
		<script th:src="@{/dist/js/sb-admin-2.js}"></script>

		<!-- Code mirror CSS -->
		<script th:src="@{/codemirror/lib/codemirror.js}"></script>
		<script th:src="@{/codemirror/addon/hint/show-hint.js}"></script>
		<script th:src="@{/codemirror/addon/hint/javascript-hint.js}"></script>
		<script th:src="@{/codemirror/mode/javascript/javascript.js}"></script>
		<script th:src="@{/codemirror/mode/markdown/markdown.js}"></script>

		<!-- Bootstrap toogle -->
		<script th:src="@{/bootstrap-toggle/bootstrap-toggle.js}"></script>

		<!-- Page-Level Demo Scripts - Tables - Use for reference -->
		<script>
			$(document).ready(
					function() {
						var editor = CodeMirror.fromTextArea(document
								.getElementById("code"), {
							lineNumbers : true,
							extraKeys : {
								"Ctrl-Space" : "autocomplete"
							},
							mode : {
								name : "javascript",
								globalVars : true
							}
						});
						
					});
		</script>
</body>

</html>
