<!DOCTYPE html>
<html lang="en">

<head th:replace="pages/layout :: head"></head>

<body>

	<div id="wrapper">

		<nav th:replace="pages/layout :: nav"></nav>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">
						<span th:text="#{dashboard}"></span>
						<div class="btn-group pull-right" role="group" aria-label="Basic example">
							<a class="btn btn-info" th:href="@{'/train?lang=' + ${locale}}" role="button">
								<span th:text="#{trainbot}"></span>
							</a>
							<a class="btn btn-warning" th:href="@{'/deploy?lang=' + ${locale}}" role="button">
								<span th:text="#{deploybot}"></span>
							</a>
						</div>
					</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			
			<div class="row" th:if="${boterror}">
				<div class="col-lg-12">
					<div class="alert alert-danger">
						<span th:text="#{boterror}"></span>
					</div>
				</div>
			</div>
			
			<div class="row" th:if="${productionboterror}">
				<div class="col-lg-12">
					<div class="alert alert-danger">
						<span th:text="#{productionboterror}"></span>
					</div>
				</div>
			</div>
			
			<div class="row" th:if="${trainerror}">
				<div class="col-lg-12">
					<div class="alert alert-danger">
						<span th:text="${trainerrormessage}"></span>
					</div>
				</div>
			</div>
			
			<div class="row" th:if="${deployerror}">
				<div class="col-lg-12">
					<div class="alert alert-danger">
						<span th:text="${deployerrormessage}"></span>
					</div>
				</div>
			</div>
			
			<div class="row" th:if="${deploysuccess}">
				<div class="col-lg-12">
					<div class="alert alert-success">
						<span th:text="#{deploysuccess}"></span>
					</div>
				</div>
			</div>
			
			<div class="row" th:if="${trainsucces}">
				<div class="col-lg-12">
					<div class="alert alert-success">
						<span th:text="#{trainsucces}"></span>
					</div>
				</div>
			</div>
			<div id="test_chat" th:attr="ariadna-url=${ariadnaurl},locale=${locale}"></div>
			<!-- /.panel .chat-panel -->
			<!-- /.row -->
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- jQuery -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

	<!-- Morris Charts JavaScript -->
	<script th:src="@{/vendor/raphael/raphael.min.js}"></script>
	<script th:src="@{/vendor/morrisjs/morris.min.js}"></script>
	<script th:src="@{/data/morris-data.js}"></script>

	<!-- Custom Theme JavaScript -->
	<script th:src="@{/dist/js/sb-admin-2.js}"></script>

	<!-- Ariadna Bot Service JS Plugin -->
	<script th:src="@{/ariadna_bot_service/ariadna_bot_interface.js}"></script>
	<script th:src="@{/ariadna_bot_service/speechfunctions.js}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#test_chat").ariadna_bot_interface({url:$("#test_chat").attr("ariadna-url"),locale: $("#test_chat").attr("locale"),production:false});
		});
	</script>

</body>

</html>
